<form [formGroup]="registerForm"  (ngSubmit)="register()" action="">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input  matInput formControlName="email"  placeholder="email">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password"  placeholder="mot de passe">
  </mat-form-field>
  <br>
  <button mat-button color="primary" type="submit">Creer un compte</button>

</form>
{{message}}
{{result | json}}
<hr>
<form [formGroup]="loginForm"  (ngSubmit)="login()" action="">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input  matInput formControlName="email"  placeholder="email">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password"  placeholder="mot de passe">
  </mat-form-field>
  <br>
  <button mat-button color="primary" type="submit">Se connecter</button>

</form>
